name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  creating-templates:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Run a one-line script
        run: echo Hello, world!

      
      - name: Run a multi-line script
        run: |
            ls
            pwd
            hostname
            sudo lsblk
